.estimate {
  padding: 0 20px 100px 20px;
  background-color: #f8cdc5;
  p {
    text-align: center;
  }
  h4 {
    font-size: 43px;
    text-align: center;

    font-family: "Abril Fatface", cursive;

    span {
      color: #f16f51;
      font-family: "Abril Fatface", cursive;
    }
  }
  .estimate-txt {
    padding: 0 300px 50px 300px;
  }
}

.estimate-title {
  padding: 40px 0 20px 0;
}

h5 {
  font-size: 31px;
  margin-bottom: 20px;
  font-weight: 100;
}

.services {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 50px;

  article {
    width: 428px;
    padding: 10px;
  }
  .article-content {
    width: 390px;
    background-color: #ffffff;
    border: solid 1.5px #000000;
    padding: 25px;
  }
  p {
    text-align: left;
  }
  img {
    width: 385px;
    height: 190px;
    object-fit: cover;
    margin-top: -120px;
    margin-left: 25px;
  }
}

.article-img:hover {
  margin-top: -20px;
  transition: all 0.3s ease-out;
}

.quote {
  width: 100%;
  border: solid 3px #f16f51;
  background-color: #f1aa9d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
  height: 250px;
  background-image: url(../img/illustration-accueil-bretagne.png);
  background-repeat: no-repeat;
  background-position: left;
  button {
    background-color: #f1aa9d;
    color: #000000;
    border-color: #000000;
  }
  button:hover {
    background-color: #000000;
    color: #ffffff;
  }
}

@media screen and (max-width: 576px) {
  .services article {
    width: 300px;
    padding: 0;
    margin-bottom: 20px;
  }
  .services .article-content {
    width: 273px;
  }
  .services img {
    width: 270px;
    margin-top: -175px;
  }
}

@media screen and (max-width: 768px) {
  .estimate .estimate-title {
    font-size: 25px;
  }
  .services h5 {
    font-size: 25px;
  }
  .estimate .estimate-txt {
    padding: 0 0 20px 0;
  }
  .estimate .quote {
    height: 180px;
  }
  .quote .quote-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 990px) {
  .estimate .estimate-txt {
    padding: 0 0 20px 0;
  }
}
