footer {
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;

  //   .contact-info
  //   .newsletter {
  //     flex: 1;
  //     padding: 0 100px 0 100px;
  //   }
  .contact-info {
    flex: 1;
    padding-left: 50px;
  }
  .newsletter {
    flex: 1;
    padding-right: 150px;
  }
  p {
    margin-bottom: 42px;
  }
}

li {
  display: flex;
  align-items: center;
  margin-top: 20px;
  img {
    margin-right: 10px;
  }
}

h6 {
  font-size: 43px;
  margin-bottom: 16px;
}

input {
  width: 100%;
  background-color: #f8cdc5;
  border: solid 1px #f16f51;
  padding: 10px;
  margin-bottom: 42px;
  position: relative;
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #000000;

  img {
    margin-right: 10px;
  }
}

.figure {
  //     position:relative;

  //     bottom:50px;
  position: absolute;

  //   top:50;
  right: 5px;
}

@media screen and (max-width: 768px) {
  footer {
    height: fit-content;
  }
  .contact {
    flex-direction: column;
    padding: 0;
  }
  .contact .contact-info {
    padding: 0;
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact .newsletter {
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .terms {
    flex-direction: column;
  }
  .terms img {
    margin-bottom: 10px;
  }
  .logo-footer {
    width: 150px;
  }
  h6 {
    font-size: 20px;
  }
  input {
    width: 300px;
  }
  .figure {
    width: 150px;
  }
}
