.presentation {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: 40px;
  background-color: #000000;
  color: #ffffff;
  h2 {
    color: #f16f51;
  }
  h2,
  h3 {
    margin-bottom: 10px;
    font-size: 43px;
    font-family: "Abril Fatface", cursive;
  }
  p {
    margin-bottom: 20px;
  }
}

.presentation-txt,
.presentation-img {
  flex: 1;
}

.presentation-img img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .presentation {
    flex-direction: column;
    height: auto;
    padding-left: 0;
  }
  .presentation-txt,
  .presentation-img {
    flex: 0;
  }
  .presentation-txt {
    text-align: center;
  }
  .presentation-img {
    max-width: 500px;
    min-width: 300px;
    margin-bottom: 40px;
  }
  .presentation h2,
  .presentation h3 {
    font-size: 25px;
  }
  .presentation h3 {
    padding: 10px;
  }
  .presentation p {
    padding: 0 10px 0 10px;
  }
}
